*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style: none;
}
button, a{
  border: none;
  outline: none;
  text-decoration: none;
  color: black;

}


@media(max-width: 1500px){
    html{
      font-size: 55.5%;
    }
}
@media(max-width: 1300px){
    html{
      font-size: 40.5%;
    }
}