@import "src/colors/palet.scss";
.Header {
  width: 100%;
  height: 130px;
  .content-header {
    display: flex;
    background-color: $white-color;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    .logo {
      width: 200px;
    }
    &.active{
      background-color: #3F51B5;
    }
  }
}
