@import "src/colors/palet.scss";
.container-product {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  padding: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  column-gap: 20px;
  &-img-product {
    max-width: 600px;
    font-size: 2rem;
    justify-self: center;
    .img-product {
      width: 100%;
      margin-bottom: 20px;
      img {
        width: 100%;
        cursor: grab;
        margin-bottom: 10px;
        &:hover {
          transition: 200ms;
          transform: scale(1.1);
        }
      }
    }
    .footer-img-container {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 10px;
      margin-bottom: 50px;
      img {
        max-width: 200px;
        cursor: pointer;
        &:hover {
          transition: 200ms;

          transform: scale(0.9);
          opacity: 0.5;
        }
      }
    }
  }
  .product-content {
    width: 100%;
    padding: 20px;
    justify-self: left;
    .title-product {
      font-size: 3.5rem;
    }
    .price-product {
      margin-top: 40px;
      font-weight: 500;
      font-size: 6rem;
      color: $blue-cast;
      .descont {
        font-size: 2.5rem;
        color: rgb(61, 60, 60);
      }
    }
    .moreDevice {
      margin-top: 20px;
      .info-device {
        font-weight: 400;
        font-size: 2rem;
        line-height: 50px;
      }
    }

    .btn-addToCart {
      margin-top: 20px;
      width: 100%;
      font-size: 2rem;
      height: 70px;
      .iconCart {
        font-size: 3rem;
        margin-right: 10px;
      }
    }
    .description-container {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      .title-description {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 50px;
      }
      .description {
        letter-spacing: 1.2px;
        text-indent: 40px;
        font-size: 2rem;
        color: rgb(70, 67, 67);
      }
    }
  }
}

@media (max-width: 750px) {
  .container-product {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    &-img-product {
      .img-product {
        margin: 0 auto;
        img {
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .footer-img-container {
     
        img {
          width: 100%;
          &:hover {
            transition: 200ms;

            transform: scale(0.9);
            opacity: 0.5;
          }
        }
      }
    }
  }
}
